<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Fake Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="ul-content" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
  
        </ul>
        <ul id="user-cart" class="d-flex navbar-nav ms-auto ">
          <li class="py-1 d-flex mx-2 nav-item">
            <img class=" col-lg-0 svg" src="/svg/cart.svg" alt="">
            <span id="cart-text">Cart</span>
          </li>
          <li class="py-1 d-flex mx-2 nav-item">
            <img class="svg" src="/svg/user.svg" alt="">
            <span id="user-text">User</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>